{% extends 'base.html.twig' %}

{% block title %}Hello CguController!{% endblock %}

{% block body %}

{{include("partials/title_section.html.twig",{'name':'conditions generales d\'utilisation'})}} 

<div class="container">
    <h1 class="text-center">Conditions generale d utilisation du site DIGITBOUTIQ</h1>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus sit amet est placerat in. Eget est lorem ipsum dolor sit amet consectetur. Fermentum dui faucibus in ornare quam viverra orci sagittis. Non enim praesent elementum facilisis leo vel. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Proin libero nunc consequat interdum varius sit amet. Ac felis donec et odio pellentesque diam volutpat. Duis ultricies lacus sed turpis tincidunt id aliquet. Nisl nunc mi ipsum faucibus. Arcu odio ut sem nulla pharetra diam sit amet.
        Aliquet eget sit amet tellus. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Dictumst vestibulum rhoncus est pellentesque. Eget felis eget nunc lobortis mattis aliquam faucibus. In ornare quam viverra orci sagittis. Quisque sagittis purus sit amet volutpat. Ut enim blandit volutpat maecenas volutpat blandit. In nulla posuere sollicitudin aliquam. Morbi tristique senectus et netus et malesuada. Amet consectetur adipiscing elit duis tristique sollicitudin. Facilisis leo vel fringilla est ullamcorper. Pulvinar mattis nunc sed blandit libero volutpat. Non pulvinar neque laoreet suspendisse. In cursus turpis massa tincidunt dui.
    </p>   
</div>
{% endblock %}
